@charset 'utf-8';
@import "~bulma/sass/utilities/functions";

$twitter: #1ca1f2 !default;
$twitter-invert: findColorInvert($twitter) !default;
$custom-colors: (
  "twitter": (
    $twitter,
    $twitter-invert
  )
);

@import "~normalize.css/normalize.css";
@import "~bulma/bulma";
@import "~rbx/rbx";

.twitter-invert-color {
  color: $twitter-invert;
}
